<h1>{{shop.name}}</h1>

{% comment %} <img src="{{'pic.jpg' | asset_url}}" alt="pic" width="300" height="400"> {% endcomment %}
<h2>{{collections['frontpage'].title}}</h2>
{% for product in collections['frontpage'].products %}
    {% render 'product-item', product:product %}
    {% comment %} {{- product.title | link_to: product.url }} {% endcomment %}
  {% endfor %}